/* @import '~antd/dist/antd.css'; */

 @import './styles/form.css'; 

.laryResume {
  color: #555;
  min-height: 500px;
  transform-origin: 0 0;
  /* transform: translateZ(-2px) scale(3); */
  /* transform-style: preserve-3d; */
}

section {
  max-width: 1024px;
  min-height: 200px;
  /* border:thin solid #fff; */
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 4px; */
  /* background: #fefefe;  */
}

a,
a:visited {
  color: #333;
  text-decoration: none;
}

a[href]::after {
  content: ' ↝ ';
  /* transform: rotate(90deg); */
}

a:hover {
  color: #000;
  text-decoration: underline;
}