* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform-style: preserve-3d
}

ul,
ol,
li {
  list-style: none
}

html {
  background: #f8f8f8;
  /* height: 100%; */
}

body {
  font-family: Helvetica, Arial, sans-serif;
  /* height: 100%; */
  background: linear-gradient(180deg, #eee 2em, #f8f8f8 9em);
}

#root{
  /* perspective: 1px;
  perspective-origin: 0 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%; */
}